<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>国家蔬菜种质资源平台</title>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">国家蔬菜种质资源平台</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="./home.html">首页</a></li>
                        <li><a href="./introduction.html">平台简介</a></li>
                        <li class="active"><a>团队介绍</a></li>
                        <li><a href="./dispatch.html">资源分发利用</a></li>
                        <li><a href="./system.html">种质资源信息系统</a></li>
                        <li><a href="./knowledge.html">科普知识</a></li>
                        <li><a href="./resource.html">优异资源</a></li>
                        <li><a href="./project.html">项目&动态</a></li>
                        <li><a href="./rules.html">标准规程</a></li>
                        <li><a href="./law.html">法律法规</a></li>
                        <li><a href="./aboutus.html">联系我们</a></li>
                        <li><a href="./support.html">支撑队伍</a></li>
                        <li><a href="./links.html">友情链接</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </nav>

        <h1>团队介绍</h1>
        数据来源 http://ivf.caas.cn/rctd/ysfc/index.htm


        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; display: block;"
                        src="http://ivf.caas.cn/images/content/2017-11/20171129155104708246.jpg"
                        data-holder-rendered="true">
                </a>
                <div class="caption">
                    <h3>姓名：方智远</h3>
                    <p>职称：院士 研究员</p>
                    <p>招生专业：蔬菜学</p>
                    <p>研究方向：蔬菜遗传育种</p>
                    <p>导师类别：硕士生、博士生导师</p>
                    <p>工作单位：中国农业科学院蔬菜花卉研究所</p>
                    <p>联系方式：E-mail：mengyufen@caas.cn</p>
                    <p>电话：010-82105972</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; display: block;" src="http://ivf.caas.cn/images/content/2017-11/20171107091633068023.png"
                        data-holder-rendered="true">
                </a>
                <div class="caption">
                    <h3>姓名：蒋卫杰</h3>
                    <p>性别：男</p>
                    <p>职称：研究员</p>
                    <p>招生专业：蔬菜</p>
                    <p>研究方向：无土栽培、蔬菜逆境和品质调控</p>
                    <p>导师类别：硕士、博士导师</p>
                    <p>工作单位：中国农业科学院蔬菜花卉研究所</p>
                    <p>联系方式：E-mail：jiangweijie@caas.cn</p>
                    <p>电话：010-82108797</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; display: block;" src="http://ivf.caas.cn/images/content/2017-11/20171107110626051292.jpg"
                        data-holder-rendered="true">
                </a>
                <div class="caption">
                    <h3>姓名：李锡香</h3>
                    <p>性别：女</p>
                    <p>职称：研究员</p>
                    <p>招生专业：蔬菜学</p>
                    <p>研究方向：蔬菜种质资源</p>
                    <p>导师类别：博士生导师</p>
                    <p>工作单位：中国农业科学院蔬菜花卉研究所</p>
                    <p>联系方式：E-mail：lixixiang@caas.cn</p>
                    <p>电话：010-82105942</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; display: block;" src="http://ivf.caas.cn/images/content/2017-11/20171107100128609393.jpg"
                        data-holder-rendered="true">
                </a>
                <div class="caption">
                    <h3>姓名：金黎平</h3>
                    <p>性别：女</p>
                    <p>职称：研究员</p>
                    <p>招生专业：蔬菜学</p>
                    <p>研究方向：马铃薯遗传育种</p>
                    <p>导师类别：博士生导师、硕士生导师</p>
                    <p>工作单位：中国农业科学院蔬菜花卉研究所</p>
                    <p>联系方式：E-mail：jinliping@caas.cn</p>
                    <p>电话：010-82109543</p>
                </div>
            </div>

        </div>
    </div>

</body>

</html>