<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>国家蔬菜种质资源平台</title>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">国家蔬菜种质资源平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a>首页</a></li>
                    <li><a href="./home.html">平台简介</a></li>
                    <li><a href="./home.html">平台沿革</a></li>
                    <li><a href="./home.html">支撑队伍</a></li>
                    <li><a href="./home.html">项目动态</a></li>
                    <li><a href="./home.html">规则标准</a></li>
                    <li><a href="./home.html">优质种质</a></li>
                    <li><a href="./home.html">资源分发利用</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">蔬菜种质资源信息系统 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./home.html">种质资源表型组数据库</a></li>
                            <li><a href="./home.html">种质资源代谢组数据库</a></li>
                            <li><a href="./home.html">种质资源变异组数据库</a></li>
                            <li><a href="./home.html">种质资源分发利用数据库</a></li>
                        </ul>
                    </li>
                    <li><a href="./home.html">科普知识</a></li>
                    <li><a href="./home.html">法律法规</a></li>
                    <li><a href="./home.html">联系我们</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
                <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
                <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#777:#777" alt="900x500" src="http://ivf.caas.cn/images/content/2018-09/20180920202454275870.jpg"
                        data-holder-rendered="true">
                    <div class="carousel-caption">
                        <h3>贯彻落实院人才会议精神 全面推进研究所科技创新</h3>
                    </div>
                </div>
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#666:#666" alt="900x500" src="http://ivf.caas.cn/images/content/2018-09/20180911103404356019.jpg"
                        data-holder-rendered="true">
                    <div class="carousel-caption">
                        <h3>推进院地合作 加强成果转化</h3>
                    </div>
                </div>
                <div class="item active">
                    <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500" src="http://ivf.caas.cn/images/content/2018-09/20180910180131212455.JPG"
                        data-holder-rendered="true">
                    <div class="carousel-caption">
                        <h3>王汉中到蔬菜花卉所开展四项重点工作督查</h3>
                    </div>
                </div>
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#666:#666" alt="900x500" src="http://ivf.caas.cn/images/content/2018-09/20180903084430162032.jpg" data-holder-rendered="true">
                    <div class="carousel-caption">
                        <h3>蔬菜所两项国家重点研发计划项目启动会在京召开</h3>
                    </div>
                </div>
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#666:#666" alt="900x500" src="http://ivf.caas.cn/images/content/2018-08/20180827135052953633.jpg" data-holder-rendered="true">
                    <div class="carousel-caption">
                        <h3>马来西亚总理马哈蒂尔·穆罕默德参观中国农业科学院蔬菜花卉研究所成果展示</h3>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</body>

</html>