<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>国家蔬菜种质资源平台</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">国家蔬菜种质资源平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./home.html">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="./history.html">历史沿革</a></li>
                    <li><a href="./dispatch.html">资源分发利用</a></li>
                    <li><a href="./system.html">种质资源信息系统</a></li>
                    <li><a href="./knowledge.html">科普知识</a></li>
                    <li><a href="./resource.html">优异资源</a></li>
                    <li class="active"><a>标准规程</a></li>
                    <li><a href="./project.html">项目&动态</a></li>
                    <li><a href="./law.html">法律法规</a></li>
                    <li><a href="./aboutus.html">联系我们</a></li>
                    <li><a href="./support.html">支撑队伍</a></li>
                    <li><a href="./links.html">友情链接</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="row">
            <div class="col-md-3 ">
                <div id="toc" class="bc-sidebar">
                    <ul class="nav">
                        <li class="toc-h2"><a href="#toc0">研究所简介</a></li>
                        <li class="toc-h2"><a href="#toc1">学术评定委员会</a></li>
                        <li class="toc-h2 toc-active"><a href="#toc2">历史沿革</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <article class="post page">
                    <section class="post-content">
                        <span id="toc0"></span>
                        <h2 id="-">研究所简介</h2>
                        <p>中国农业科学院蔬菜花卉研究所创建于1958年，是蔬菜花卉学科唯一的国家级公益性专业研究机构，其主要任务是：围绕我国蔬菜、花卉产业和学科发展的重大需求，开展应用基础研究，创新重要的应用技术和基础理论，开展科技成果转化，组织全国重大科研协作；开展国内外学术交流和培训，培养高层次专业技术人才；编辑出版学术刊物。
                        　　研究所现有职工200余人，高级职称80人，研究员33人，其中具有博士学位人员50人。拥有中国工程院院士1人，国家自然科学基金杰出青年1人，拥有973首席专家1人，农业部现代农业产业技术体系首席专家2人。
                        　　下设10个研究室：种质资源研究室、十字花科研究室、茄科研究室、葫芦科研究室、栽培与采后技术研究室、植物保护研究室、生物技术研究室、花卉研究室、马铃薯研究室、质量安全与检测技术研究室。
                        　　研究所现有科研建筑面积1.8万平方米，有试验农场6个，总面积79公顷，其中有保护地面积10万平方米。全所拥有价值万元以上的设备940台（套），价值8600余万元，拥有国家种质资源中期库一座，保存有3.85万份蔬菜种质资源。</p>
                        <span id="toc1"></span>
                        <h2 id="-bootstrap-">学术评定委员会</h2>
                        <p>研究所学位评定委员会名单
                        主　席：
                        杜永臣
                        副主席：
                        孙日飞 王晓武
                        委　员：
                        方智远 张宝玺 胡　鸿 刘玉梅 顾兴芳
                        连　勇 李锡香 谢丙炎 葛　红 于贤昌
                        黄三文 明　军 张友军</p>
                        <span id="toc2"></span>
                        <h2 id="-">历史沿革</h2>
                        <p>中国农业科学院蔬菜花卉研究所是中国农业科学院所属专业研究所之一，也是全国蔬菜花卉学科重要的学术研究中心。创建于1958年，其前身是华北农业科学研究所园艺系蔬菜研究室。曾两次整制下放北京市，又两次回到中国农业科学院，走过了一段曲折发展的道路。1987年更名为蔬菜花卉研究所。
                        一、1958年建所
                        　　中国农业科学院蔬菜研究所，由中国农业科学院建议，经国务院规划委员会批复（科字第278号文），中央农业部党组和北京市人民政府批准，于1958年9月22日成立。其前身是华北农业科学研究
                        所园艺系蔬菜研究室。成立时的蔬菜所，以蔬菜研究室和北京市农林局国营彰化农场为基础，受中国农业科学院和北京市农业科学院双重领导，但以北京市农业科学院为主，对外挂二块牌子，即中国农业科学院蔬菜研究所和北京市农业科学院蔬菜研究所。所址在北京市海淀区彰化村。当时未任命所长。朱明凯任副所长，主管全面工作，王泉山任第二副所长。建所初期在机构设置上，设有行政办公室、技术办公室和试验农场。1959年全所职工195人，其中科技人员25人，行政人员8人，工人162人。来自原华北所人员19人，其中科技人员13人。行政管理人员1人，工人5人。
                        二、1960年第一次下放到北京市
                        　　由于1960年底国家面临经济困难时期，根据中央精简机构的指示，农业部决定将原属中国农业科学院建制的部分研究所下放归所在省、市、自治区直接领导。当时根据1960年12月发出的（60）党发第210号文"关于下放大豆等十一个所在省建制和直接领导的决定"的精神，蔬菜所以整建制完全下放到北京市由北京市农业科学院领导。
                        　　1960年后，所内结构设置有行政办公室、技术办公室、品种研究室、栽培研究室、植保研究室、生理研究室和试验农场。朱明凯任副所长。
                        　　三、1962年回归中国农业科学院
                        　　1962年党中央、国务院根据国家科委农业组扩大会议呈报的《关于大力加强农业科技工作促进生产的若干紧急建议》，发出了[62]519号文《关于充实和调整农业科学研究机构的通知》，根据形势发展需要，1962年8月本所下放到北京市的原华北所12名科技人员从北京市彰化村迁回中国农业科学院，并于1962年12月经农业部（62）农原震字第41号文批准蔬菜所正式归回中国农业科学院建制，重新成为中国农业科学院的一个直属研究所。所址设在中国农业科学院内前植物检疫室旧址。1962年至1965年，研究所有很大发展，职工队伍人数逐年增长，尤以1963年增长最多。1962年底全所职工仅28人，1963年增加45人，1964年增加21人，1965年增加11人，截至1965年统计，全所职工已达到105人。
                        　　未任命所长，由朱明凯和张纪增任副所长，朱明凯主持工作，1966年5月又任命陈静夫为副所长。全所机构设4室1组。由行政办公室总管全所人事、党务、文书、基建和总务以及科研业务；由育种研究室、栽培贮藏研究室、植保研究室和生理生化研究组开展有关科学研究。
                        1966年5月"文化大革命"开始，1967年1月后，所领导机构被群众组织代替。
                        　　四、1970年第二次下放到北京市
                        　　1970年8月中国农业科学院进行体制改革，并精简机构。同年11月执行农林部（据农业部档案1970～1970.7至1979.1中央农业部撤销，成立农林部"下同）（70）农林办字第11号文，蔬菜所再次以整制下放北京市，并经北京市革委会研究决定与北京市农业科学研究所蔬菜研究室合并（注：1962年7月北京市农业科学院建制撤销，成立北京市农科所）。当时中国农业科学院蔬菜所下放人员共80人。下放前期仍维持蔬菜研究室的建制，隶属北京市农科所领导，并开始恢复科研工作。研究室临时负责人为李树德（主管业务）和王勇、张立志、徐玲珍（主管政工）。1973年成立室领导小组，成员有马熙彩、张光荣、李树德、陈杭和陈淑英。1975年3月北京市革委会批准恢复北京市农林科学院建制，同时也恢复了蔬菜研究所的建制。所址位于双清路原北京林学院内森工楼。所领导成员有贾俊林、朱明凯、李树德、陈杭。
                        机构设置：全所设所办公室、政工组、科研生产组、资料组以及引种及品种资源室、育种及良种繁育室、栽培室及农村基点组和实验室。
                        　　五、第二次回归中国农业科学院
                        　　1976年10月党中央一举粉碎了"四人帮"，长达10年之久的"文化大革命"即告结束，蔬菜所也在整顿、调整中逐步恢复业务工作。
                        　　1978年2月农林部、国家物资总局、财政部联合发出（78）农林（科）字第15号、（78）物计字第47号、（78）财农字第9号文"关于加强农林科教工作和调整农林科教体制的函"，决定将原下放北京市的中国农业科学院蔬菜所归回中国农业科学院（注：1970年8月～1978年2月中国农业科学院建制撤销，成立中国农林科学院）。由此，蔬菜所恢复原建制，成为中国农业科学院的一个直属研究所。所址开始仍在林学院，1980年迁至中国农业科学院东门外。
                        　　1978年12月党的十一届三中全会胜利召开，开始了拨乱反正的进程，决定将工作的重点转移到社会主义经济建设上来。随着党和国家对科学事业的重视和关怀，对知识分子政策的落实，蔬菜所的科技队伍不断壮大。1978年从北京市回中国农业科学院时全所共有职工73人，　　1981年6月发展至182人，1987年12月增加达240人。
                        　　1979年4月任命朱明凯为所长，曹维政、李树德、张纪增、刘红、朱德蔚为副所长。1979年8月任命宋法明为副所长。1983年2月任命李树德为所长。1984年12月任命王德槟为副所长。1985年3月任命赵清源为副所长。
                        　　机构设置：领导机构设党委会、所务会；管理机构设党委办公室、人事处、科研处、行政处办公室；研究室设品种资源研究室、育种研究室、栽培研究室、植物保护研究室、中心实验室和情报资料室；学术评议和科研工作决策、咨询机构是学术委员会。
                        　　六、1987年更名为中国农业科学院蔬菜花卉研究所
                        　　1987年12月3日，根据国家科委（87）国科发综字0806号，农牧渔业部（1987）农（人）农函字第17号批文"关于同意中国农业科学院蔬菜所更名的复函"，中国农业科学院蔬菜研究所更名为中国农业科学院蔬菜花卉研究所，原隶属关系不变，除承担原有蔬菜研究任务外，还承担花卉研究工作。
                        　　蔬菜所自更名为蔬菜花卉所以来，科研、开发、精神文明建设逐年稳步发展。1997年12月，全所职工为223人。
                        　　1987年李树德仍为所长。1988年5月任命朱德蔚为所长，赵清源、方智远为副所长。1991年1月任命张松林为副所长。1995年2月任命方智远为所长，张松林、蒋淑芝为副所长。1997年3月任命屈冬玉为副所长。
                        　　机构设置：领导机构设党委会、所务会；管理机构设党办和人事处、科研处、行政处、科技开发咨询服务部（1996年后改为科技成果开发处）、温室农场管理处；研究室设蔬菜遗传资源研究室、蔬菜遗传育种室、蔬菜栽培和储藏加工研究室（1996年后称蔬菜栽培及采后技术研究室）、植物保护研究室、花卉研究室、生理生化实验室和文献信息编辑室；学术评议和科研工作决策、咨询机构是学术委员会。
                        　　2000年11月任命屈冬玉为蔬菜花卉所所长，蒋淑芝为所党委书记兼副所长，杜永臣、孙日飞为副所长。
                        　　2001年为适应农业科技发展的需要，对本所研究室的设置进行了调整，按学科分为：生物技术研究室、种质资源研究室、十字花科育种研究室、茄科育种研究室、葫芦科育种研究室、栽培与采后技术研究室、植物保护研究室、花卉研究室。
                        　　2002年12月任命杜永臣为所长兼党委副书记。
                        　　2003年10月，对本所的管理及服务机构进行了整合，调整后的机构设置为：科研处、综合处、财务处和服务中心。</p>

                    </section>
                </article>
            </div>
        </div>
    </div>
</body>

</html>